/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,400;1,900&display=swap');
* {
    font-family: "Roboto 100;0";
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
}

h3 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: smaller;
}

 /* INICIO */

.principal {
  position: relative;
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  width: 65%;
  height: 50%;
  background-color: black;
  padding: 5%;
font-size: xx-large;
}

/* hola vale */

.principal h1 {
  font-size: 125px;
  color: #D1C928;
}

.principal h2, h3 {
  color: #D1C928;
}

.text {
  width: 50%;
  font-size: smaller;
  align-content: center;
  margin-left: 2%;
}

.mini h2, p{
color: white;
}

.mini a{
    display: inline-block;
    text-decoration: none;
    background-color: red;
    text-align: center;
    margin-left: 20px ;
    padding: 15px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 10px;
    border-bottom: darkred;
    border-style:solid;
    border-bottom-width: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-bottom: 71px;
    margin-top: 12px;
}

.correo {
  text-decoration: none;
}

.correo a:hover {
  text-decoration: underline ;
  }

.mini a:hover {
  background-color: darkred;
}

.photo {
  width: 45%;
  height: 10%;
  align-content: center;
  margin-bottom: 2%;
  text-align: center;
}

a {
  text-decoration: none;
}

.mini {
  float: left;
  margin-top: 45px;
  margin-left: 30px;
  width: 25%;
  height: 100%;
  background: black;
  padding: 5%;
  text-align: center;
}



/*   .icon-bar a:hover {
    background-color: #000;
  }
 */
body {
    background-color: #0A0A0A;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

p {
  line-height: 1.5;
}

.ccsticky-nav {
  width: 100%;
  height: 50px; 
  position: fixed; 
  top: 0;
  background: black;

  }
  
  .ccsticky-nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: left;
  }
  
  .ccsticky-nav ul li {
  display: inline-block;
  margin: 0 10px;
  }
  
  .ccsticky-nav ul li a {
  padding: 10px;
  color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease;
  text-decoration: none;

  }
  
  .ccsticky-nav ul li a:hover {
  color: #34495E;
  }
  
  #scroll {
    outline: none;
    text-decoration: none;
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
    background-color: #79b6a1;
    list-style-type: none;
    font-size: smaller;
  }
  

/*  resume page */

* {
  box-sizing: border-box;
}

/* SERVICIOS */

.column {
  float: left;
  padding: 10px;
  margin-top: 20px;
}

/* Left and right column */
.column.side {
  width: 30%;
  font-size: smaller;
  align-content: center;
  margin-left: 2%;
  color: white;
}

/* Middle column */
.column.middle {
  width: 65%;
  height: 10%;
  align-content: center;
  margin-bottom: 2%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.title{
width: 90%;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 1%;
margin-top: 7%;
}


.row {
background-color: black;
width: 85%;
margin-left: 6%;
margin-right: 7%;
margin-bottom: 3%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.active {
  background-color: #45b2b9;
}

#reco {
  margin-bottom: 5px;
}

/* portalofio */
.leftcolumn {   
  float: left;
  width: 100%;
  margin-bottom: 12px;
  margin-top: 50px;
}

.rightcolumn {
  float: left;
  width: 100%;
  background-color: #f1f1f1;
  padding-left: 15px;
  margin-top: 30px;
  
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}


/* about */
