<!-- un poco sobre quien soy, rsumen de mi, educacion, tenis, asociaciones, trabajos,  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>About</title>
</head>

<body>
    <!-- Links (sit on top) -->
    <nav class="ccsticky-nav">
        <ul id="sticky">
            <li><a href="../index.html">Home</a></li>
            <li><a class="active" href="./about.html">About</a></li>
            <li><a href="./portafolio.html">Portfolio</a></li>
            <li><a href="./services.html">Servicios</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>



    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>¿Quién soy?</h2>
            <div class="fakeimg">
                <img src="../static/hablando.jpg" alt="sof" height="189px">
                <img src="../static/costarica.jpg" alt="sof" height="189px">
                <img src="../static/colegio.jpg" alt="sof" height="189px">
                <img src="../static/techo.jpg" alt="sof" height="189px">
                <img src="../static/tenis.jpg" alt="sof" height="189px">
                <div>
                    <p> Mi nombre completo es Ana Sofía Segura Ríos, tengo 20 años y actualmente estoy en tercer año de
                        Ingeniería de Negocios en la ESEN. Soy una joven con muchas ganas de aprender cosas nuevas y
                        poner
                        en práctica las que ya se. <br>
                        <br>
                        Por el momento solo he trabajo como asistente de la Administración del Colegio Liceo San Luis.
                        Ahí
                        estaba encargada de hacer inventario de los productos escolares a la venta, atención al cliente,
                        encargada de facturar, entre otras actividades. <br>
                        <br>
                        Pertenezco a dos asociaciones universitarias, Raíces y TECHO-ESEN. En la primera soy la
                        directora de
                        voluntariados en pro al medio ambiente, me encargo de formar alianzas con otras organizaciones,
                        conseguir los voluntarios, y planear la actividad. En la segunda, soy parte del área de
                        planeación
                        del proyecto, con mi equipo planeamos charlas, construcciones o somo voluntarios de TECHO. <br>
                        <br>
                        Uno de mis mayores intereses es el tenis, juego desde que tengo 7 años, y he competido
                        internacionalmente hasta mis 18 años. Es un deporte que me ha enseñado mucho.


                    </p>
                </div>
            </div>


</body>

</html>