<!-- correo de la esen, githiub url, linkein, numero de cel y tel,  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>contacto</title>
</head>

<body>
    <!-- Links (sit on top) -->
    <nav class="ccsticky-nav">
        <ul id="sticky">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./portafolio.html">Portfolio</a></li>
            <li><a href="./services.html">Servicios</a></li>
            <li><a class="active" href="./contact.html">Contact</a></li>
        </ul>
    </nav>

    <h1 class="title">¡Contacteme! </h1>

    <ol>
        <li>Celular: +503 7989-3120</li>
        <li>Correo: <a class="correo" href="mailto: 20204055@esen.edu.sv">20204055@esen.edu.sv</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/-segura-r%C3%ADos-/" target="_blank">SeguraRios</a></li>
    </ol>



    <p>Para ver mis repositorios de GitHub:</p>
    <a href="https://github.com/sofsegu" target="_blank">GitHub</a>



</body>

</html>