<!-- trabajos y proyectos link de regreso a skills -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>portafolio</title>
</head>

<body>
    <!-- Links (sit on top) -->
    <nav class="ccsticky-nav">
        <ul id="sticky">
            <li><a href="http://127.0.0.1:5502/index.html">Home</a></li>
            <li><a href="http://127.0.0.1:5502/about.html">About</a></li>
            <li> <a class="active" href="http://127.0.0.1:5502/portafolio.html">Portfolio</a></li>
            <li><a href="http://127.0.0.1:5502/services.html">Servicios</a></li>
            <li><a href="http://127.0.0.1:5502/contact.html">Contact</a></li>
        </ul>
    </nav>

    <a href="#P">Photoshop</a>
    <a href="#MP">Microsoft PowerPoint</a>
    <a href="#MW">Microsoft Word</a>

    <h2>Photoshop</h2>

    <h3 id="P">Portada de una revista deportiva</h3>

    <p>En el año 2019 lleve acabo el proyecto de crear una portada para una revista deportiva. El proyecto
        comenzó desde la sesión de fotos en un estudio, hasta el diseño final.</p>

    <div class="container">
        <embed src="./static/TENNIS MAGAZINE.pdf" type="application/pdf" width="250" height="400" />
    </div>


    <h2 id="MP">Microsoft PowerPoint</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error magni dolore obcaecati nobis sed quam at
        ipsam
        porro minima tempore nihil illo dicta corporis eligendi incidunt, voluptatibus sequi est repudiandae!
    </p>

    <h2 id="MW">Microsoft Word</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error magni dolore obcaecati nobis sed quam at
        ipsam
        porro minima tempore nihil illo dicta corporis eligendi incidunt, voluptatibus sequi est repudiandae!
    </p>



</body>

</html>