<!-- trabajos y proyectos link de regreso a skills -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>portafolio</title>
</head>

<body>
    <!-- Links (sit on top) -->
    <nav class="ccsticky-nav">
        <ul id="sticky">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a class="active" href="./portafolio.html">Portfolio</a></li>
            <li><a href="./services.html">Servicios</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>

    <h1>p</h1>
    <a href="#P">Photoshop</a>
    <a href="#MP">Microsoft PowerPoint</a>
    <a href="#MW">Microsoft Word</a>

    <div class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco.</p>
    </div>






</body>

</html>