<!-- trabajos y proyectos link de regreso a skills -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>portafolio</title>
</head>

<body>
    <!-- Links (sit on top) -->
    <nav class="ccsticky-nav">
        <ul id="sticky">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a class="active" href="./portafolio.html">Portfolio</a></li>
            <li><a href="./services.html">Servicios</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>

    <h1>p</h1>
    <a href="#P">Photoshop</a>
    <a href="#MP">Microsoft PowerPoint</a>
    <a href="#MW">Microsoft Word</a>

    <div class="card">
        <h2>Photoshop</h2>
        <h5>Portada para revista deportiva</h5>
        <div class="fakeimg"><img src="../static/revista.png" alt="sof" height="189px"></div>
        <p>Durante mi último año de bachillerato, aprendimos a usar las herramientas básicas de Photoshop. Uno de
            nuestros proyectos era hacer una portada de revista. Con mi equipo elegimos la tématica deportiva. <br>
            <a href="../static/TENNIS_MAGAZINE.pdf" target="_blank">Portada en pdf</a>
        </p>
    </div>

    <div class="card">
        <h2>Microsoft Word</h2>
        <h5>Informe de laboratorio: Momento de Inercia Rotacional</h5>
        <div class="fakeimg"><img src="../static/momento.png" alt="sof" height="189px"></div>
        <p>Este reporte de laboratorio fue una tarea para la materia de Física II, en donde se nos exigía ortografía y
            uso correcto de APA. En sí el informe era sobre calcular el momento de inercia de un cilindro hueco y de un
            disco, a través de un método experimental, con el fin de verificar que los resultados corresponden a los
            valores teóricos estimados. <br>
            <a href="../static/informeLaboratorio.pdf" target="_blank">Informe en pdf</a>
        </p>
    </div>

    <div class="card">
        <h2>Canva</h2>
        <h5>Infografía sobre el libro "Momentos Estaleres de la ciencia"</h5>
        <div class="fakeimg"><img src="../static/ciencia.jpg" alt="sof" height="189px"></div>
        <p>En la materia de Física uno, se nos pidió hacer una infografía que resumiera a los personajes del libro de
            Isaac Asimov. Decidí utilizar Canva porque es una plataforma gratuita que me permite desarrollar mi
            creatividad al máximo. <br>
            <a href="../static/infografia.pdf" target="_blank">Portada en pdf</a>
        </p>
    </div>

</body>

</html>